body {
  background: rgba(255,105,180,.8) 50% url(img/bg.png);
}

.navbar {
  height: 80px;
  color: #ffffff;
  text-align: center;
  line-height: 80px;
}

.wrapper {
  margin: 0 auto;
  min-width: 800px;
  max-width: 1000px;
  width: 80%;
}

.main_pic img {
  width: 100%;
}

.news {
  display: flex;
}

.news .to {
  overflow: hidden;
  margin: 0;
  width: 154px;
  height: 36px;
  background: url(img/news_icon.png) no-repeat;
  text-indent: 100%;
}

.news-frame {
  overflow: hidden;
  box-sizing: border-box;
  background: #ffffff;

  flex-grow: 1;
}

.news-container {
  position: relative;
  left: 0;
  white-space: nowrap;
  font-size: 0;
}

.news-container.moving {
  left: -100%;
  transition: left .5s ease-out;
}

.news-feed {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 18px;
  width: 100%;
  font-size: 16px;
  line-height: 36px;
}

.content {
  display: flex;
  margin-top: 20px;
}

.ad {
  box-sizing: border-box;
  margin: auto 0 auto 0;
  width: 154px;
  text-align: center;
}

.real-content {
  flex-grow: 1;
}

.introduce {
  overflow: hidden;
  min-width: 450px;
  min-height: 300px;
  max-height: 700px;
  width: 100%;

  xmax-width: 646px;
}


.introduce ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.intro-item {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 2%;
  padding-bottom: 23.5%;
  width: 23.5%;
  height: 0;
  background-size: cover;
}

.first-row {
  margin-bottom: 1%;
}
.nav_sake {
  background-image: url(img/smimg/nav_sake-img.png);
}
.nav_sake:hover {
  background-image: url(img/gif/nav_sake.gif);
}

.nav_tower {
  background-image: url(img/smimg/nav_tower-img.png);
}

.nav_tower:hover {
  background-image: url(img/gif/nav_tower.gif);
}

.nav_love {
  background-image: url(img/smimg/nav_love-img.png);
}

.nav_love:hover {
  background-image: url(img/gif/nav_love.gif);
}

.nav_cast {
  margin-right: 0;
  background-image: url(img/smimg/nav_cast-img.png);
}

.nav_cast:hover {
  margin-right: 0;
  background-image: url(img/gif/nav_cast.gif);
}

.nav_original {
  background-image: url(img/smimg/nav_original-img.png);
}

.nav_original:hover {
  background-image: url(img/gif/nav_original.gif);
}

.nav_music {
  background-image: url(img/smimg/nav_music-img.png);
}

.nav_music:hover {
  background-image: url(img/gif/nav_music.gif);
}
.nav_beer {
  background-image: url(img/smimg/nav_beer-img.png);
}
.nav_beer:hover {
  background-image: url(img/gif/nav_beer.gif);
}
.nav_tv {
  margin-right: 0;
  background-image: url(img/smimg/nav_tv-img.png);
}
.nav_tv:hover {
  margin-right: 0;
  background: url(img/gif/nav_tv.gif);
}


.tv_add {
  margin-top: 20px;
  min-height: 170px;
  width: 100%;
  height: 15vw;
  background: url(img/icon/tv_add.jpg);
  background-size: cover;
}

.episode_update {
  overflow: hidden;
  margin-top: 5%;
  height: 975px;
  background: url(img/icon/movie_bg.png) ;
}

.epi_div {
  box-sizing: border-box;
  padding-top: 57px;
  height: 430px;
}

.epi_div.story {
  padding-top: 50px;
  height: 440px;
}

.epi_tab {
  box-sizing: border-box;
  width: 100%;
}

.epi_tab h3 {
  float: left;
  margin: 0;
  padding: 0;
  height: 37px;
  text-indent: -100%;
}

.epi_tab h3.pr {
  width: 30%;
  background: url(img/icon/movie_h3.png) no-repeat;
}

.epi_tab h3.story {
  width: 35%;
  background: url(img/icon/story_h3.png) no-repeat;
}

.pic {
  position: relative;
  top: -20px;
  left: 40px;
  max-width: 646px;
  height: 440px;
  background: url(img/icon/top-img.png) no-repeat;
  background-size: 88%;
}

.pr_button {
  position: relative;
  top: -2px;
  left: 75%;
  width: 160px;
  height: 40px;
  background: url(img/icon/movie_btn.png) no-repeat;
}

.pr_button:hover {
  opacity: .5;
}

.pr_tv {
  margin: 20px 10% 0 10%;
  height: 310px;
  background: url(http://placehold.it/350x200);
  background-size: cover;
}

.social {
  display: flex;
  height: 442px;
}

.twitter {
  padding: 15px 20px 20px 20px;
  background: #2fcce9;

  flex-grow: 1;
}

.twitter h3 {
  float: left;
  width: 160px;
  height: 40px;
  background: url(img/icon/twitter_h3.png) no-repeat;
  text-indent: 120%;
}

.tw_btn {
  float: right;
  margin-top: 20px;
  width: 160px;
  height: 40px;
  background: url(img/icon/twitter_btn.png) no-repeat;
}

.line {
  padding: 20px 15px 20px 15px;
  background: #00b900;
}

.qr {
  width: 157px;
  height: 230px;
  background: url(img/icon/line_btn.png) no-repeat;
  background-position: 10% 95.5%;
}


.line_img {
  margin-top: 40px;
  width: 157px;
  height: 132px;
  background: url(img/icon/line_bg.png) no-repeat;
}

.instagram {
  height: 300px;
  background: #ffffff;
}

.instagram h3 {
  float: left;
  margin: 0 ;
  padding: 0;
  width: 287px;
  height: 35px;
  background: url(img/icon/insta_h3.png) no-repeat;
}

.insta_div {
  overflow: hidden;
  padding: 25px 20px 20px 20px;
}

.insta_btn {
  float: right;
  width: 160px;
  height: 40px;
  background: url(img/icon/insta_btn.png) no-repeat;
}

.back2top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: block;
  visibility: hidden;
  width: 102px;
  height: 102px;
  background: url(img/pagetop.png) no-repeat;
}

.back2top:hover {
  opacity: .8;
  transition: 1s ease-out;
}
