body {
  background: rgba(255,105,180,.8) 50% url(img/bg.png);
}

.navbar {
  height: 80px;
  color: #ffffff;
  text-align: center;
  line-height: 80px;
}

.wrapper {
  margin: 0 auto;
  min-width: 800px;
  max-width: 1000px;
  width: 80%;
}

.main_pic img {
  width: 100%;
}

.news {
  display: flex;
}

.news .to {
  overflow: hidden;
  margin: 0;
  width: 154px;
  height: 36px;
  background: url(img/news_icon.png) no-repeat;
  text-indent: 100%;
}

.news-frame {
  overflow: hidden;
  background: #ffffff;
  flex-grow: 1;
  box-sizing: border-box;
}

.news-container {
  white-space: nowrap;
  font-size: 0px;
  position: relative;
  left: 0px;
}

.news-container.moving {
  left: -100%;
  transition: left 0.5s ease-out;
}

.news-feed {
  display: inline-block;
  line-height: 36px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  position: relative;
  padding-left: 18px;
}

.content {
  display: flex;
  margin-top: 10px;
}

.ad {
  flex-grow: 1;
  height: 300px;
  text-align: center;
  line-height: 300px;
}

.real-content {
  flex-grow: 1;
  overflow: hidden;
 
}

.real-content ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 0;
  max-width: 646px;
  min-width: 450px;

}

.real-content ul li {
  box-sizing: border-box;
  display: inline-block;
  width: 23.4%;
  height: 49%;
  margin-right: 2%;
}

.real-content ul li.first-row{
   margin-bottom: 1%;
}
.real-content ul li.nav_sake{
  background: url(img/smimg/nav_sake-img.png);  
  background-size: cover;
}

.real-content ul li.nav_tower {
  background: url(img/smimg/nav_tower-img.png);  
  background-size: cover;
}

.real-content ul li.nav_love {
  background: url(img/smimg/nav_love-img.png);  
  background-size: cover;
}

.real-content ul li.nav_cast {
  margin-right: 0%;
  background: url(img/smimg/nav_cast-img.png); 
  background-size: cover;
} 

.real-content ul li.nav_original {
  background: url(img/smimg/nav_original-img.png); 
  background-size: cover;
}

.real-content ul li.nav_music {
  background: url(img/smimg/nav_music-img.png); 
  background-size: cover;
}
.real-content ul li.nav_beer {
  background: url(img/smimg/nav_beer-img.png); 
  background-size: cover;
}
.real-content ul li.nav_tv {
  margin-right: 0%;
  background: url(img/smimg/nav_tv-img.png); 
  background-size: cover;
}
.back2top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: block;
  visibility: hidden;
  width: 102px;
  height: 102px;
  background: url(img/pagetop.png) no-repeat;
}

.back2top:hover {
  opacity: .8;
  transition: 1s ease-out;
}
